.divRecipeStepInput {
    gap: 0.5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.labelRecipeStepInput {
    margin-left: 1rem;
    
    color: #3D3C9D;
    font-weight: 900;
    text-align: left;
    font-size: 2rem;
}

.textareaRecipeStepInput {
    width: 100%;
    height: 25rem;
    padding: 1rem 1rem 1rem 1.5rem;

    color: #3D3C9D;
    font-size: 1.7rem;

    outline: none;
    background-color: transparent;

    border-radius: 1rem;
    border: 0.3rem solid #3D3C9D;
}